{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ dealer.name }}</h1>
    <ul id="cars"></ul>
    <table border="2" id="my-table">
        <thead>
            <tr>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>Nombre de sièges</th>
                <th>Moteur</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Modèle</th>
                <th>Couleur</th>
                <th>Nombre de sièges</th>
                <th>Moteur</th>

            </tr>
        </tfoot>


    </table>
    <a href="{{ path('index') }}">Retour aux concessionnaires</a>
{% endblock %}
